.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
  }
  
  .social-icons {
    font-size: 24px;
    margin-top: 10px;
  }
  
  .social-icons a {
    color: white;
    margin: 0 10px;
    transition: color 0.3s ease-in-out;
  }
  
  .social-icons a:hover {
    color: #55acee; /* Twitter blue color */
  }
  